# Question 1 - Solved

# scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
#Lets import all the necessary libraries 

import selenium                                     #library that is used to work with Selenium
from selenium import webdriver                      # importing webdriver module from selenium to open automated chrome window
import pandas as pd                                 # To create a Database
from selenium.webdriver.common.by import By         # importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')                   # to ignore any sort of warning
import time                                         #used to stop search engine for a few secods

In [2]:
driver = webdriver.Chrome('chromedriver.exe') # Lets connect to the web driver

In [3]:
#Lets Maximize thw automated chrome window

driver.maximize_window()

In [4]:
#Opening up naukri.com website on automated chrome window

url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
#finding the web element for the job bar 

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [6]:
#finding web element for the search location using absolute Xpath

search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [7]:
#clicking using absolute xpath function

search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [8]:
#Extracting the JOb Titles

In [10]:
#Lets extract all the elements having job titles

job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Analystics & Modeling Specialist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist']

In [11]:
#Extracting the Job Location

In [12]:
#Lets extract all the elements having location

location = []
locn_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in locn_tags:
    location.append(i.text)
location[:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
#Extracting the company names

In [15]:
#Lets extract all the elements having company names 

company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Accenture',
 'Accenture',
 'IBM',
 'Accenture',
 'Applied Materials',
 'Applied Materials']

In [16]:
#Extracting the experience Required

In [17]:
#Lets extract all the elements having experience

experience = []
exp_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['6-8 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '2-7 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '4-7 Yrs']

In [19]:
#Creating a DataFrame with the extracted elements

jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Company'] = company_names[:10]
jobs['Experience'] = experience[:10]
jobs['Location'] = location[:10]

In [20]:
jobs #Printing the dataframe with the elements

,Job Title,Company,Experience,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
2,Assistant Manager - Data Science,Citiustech,5-9 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
3,Data Scientist,Altair,2-7 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
4,Python Programming Language Data Science Pract...,Accenture,4-6 Yrs,Bangalore/Bengaluru
5,Industry X - Software Engineering,Accenture,3-5 Yrs,Bangalore/Bengaluru
6,Data Scientist: Artificial Intelligence,IBM,4-8 Yrs,Bangalore/Bengaluru
7,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,4-6 Yrs,Bangalore/Bengaluru
8,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
9,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru

# Question 2 - Solved

# scrape data for “Data Analyst” Job position in “Bangalore” location

In [21]:
#Lets import all the necessary libraries 

import selenium                                     #library that is used to work with Selenium
from selenium import webdriver                      # importing webdriver module from selenium to open automated chrome window
import pandas as pd                                 # To create a Database
from selenium.webdriver.common.by import By         # importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')                   # to ignore any sort of warning
import time                                         #used to stop search engine for a few secods

In [22]:
driver = webdriver.Chrome('chromedriver.exe') # Lets connect to the web driver

In [23]:
#Lets Maximize thw automated chrome window

driver.maximize_window()

In [24]:
#Opening up naukri.com website on automated chrome window

url = 'https://www.naukri.com/'
driver.get(url)

In [25]:
#finding the web element for the job bar 

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [26]:
#finding web element for the search location using absolute Xpath

search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [27]:
#clicking using absolute xpath function

search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [28]:
#Extracting the JOb Titles

In [38]:
#Lets extract all the elements having job titles

job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Analystics & Modeling Specialist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist',
 'Data Scientist',
 'Lead Business Analyst',
 'Data Scientist',
 'Sr. Data Scientist',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'AI/ML engineer']

In [30]:
#Extracting the Job Location

In [39]:
#Lets extract all the elements having location

location = []
locn_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in locn_tags:
    location.append(i.text)
location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [32]:
#Extracting the company names

In [40]:
#Lets extract all the elements having company names 

company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Accenture',
 'Accenture',
 'IBM',
 'Accenture',
 'Applied Materials',
 'Applied Materials',
 'HCLTech',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics',
 'Puma Sports India',
 'Technicolor Animation &amp; Games',
 'Phonepe',
 'Accolite Software India Pvt Ltd',
 'PayU Finance',
 'CGI']

In [34]:
#Extracting the experience Required

In [42]:
#Lets extract all the elements having experience

experience = []
exp_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags:
    experience.append(i.text)
experience

['6-8 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '2-7 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '4-7 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '1-2 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '3-7 Yrs',
 '4-6 Yrs']

In [45]:
#Creating a DataFrame with the extracted elements

jobs1 = pd.DataFrame()
jobs1['Job Title'] = job_titles[10:21]
jobs1['Company'] = company_names[10:21]
jobs1['Experience'] = experience[10:21]
jobs1['Location'] = location[10:21]

In [46]:
jobs1  #Printing the dataframe with the elements

,Job Title,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
1,Senior Data Scientist,Boston Consulting Group,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
2,Data Scientist - II,Bizongo,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
3,Lead ML Scientist,Fractal Analytics,6-10 Yrs,"Bangalore/Bengaluru, Mumbai"
4,Data Scientist,Puma Sports India,1-2 Yrs,Bangalore/Bengaluru
5,Lead Business Analyst,Technicolor Animation &amp; Games,3-5 Yrs,Bangalore/Bengaluru
6,Data Scientist,Phonepe,5-8 Yrs,Bangalore/Bengaluru
7,Sr. Data Scientist,Accolite Software India Pvt Ltd,6-8 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad"
8,Opportunity For Data Scientist - Female Candid...,PayU Finance,3-7 Yrs,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram..."
9,AI/ML engineer,CGI,4-6 Yrs,Bangalore/Bengaluru

# Question 3 -Solved

## Scrap data from Data Scientist and using filter Location: Delhi and Salary : 3-6 LAkhs

In [47]:
#Lets import all the necessary libraries 

import selenium                                     #library that is used to work with Selenium
from selenium import webdriver                      # importing webdriver module from selenium to open automated chrome window
import pandas as pd                                 # To create a Database
from selenium.webdriver.common.by import By         # importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')                   # to ignore any sort of warning
import time                                         #used to stop search engine for a few secods

In [48]:
driver = webdriver.Chrome('chromedriver.exe') # Lets connect to the web driver

In [49]:
#Lets Maximize thw automated chrome window

driver.maximize_window()

In [50]:
#Opening up naukri.com website on automated chrome window

url = 'https://www.naukri.com/'
driver.get(url)

In [51]:
#finding the web element for the job bar 

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [52]:
#finding web element for the search location using absolute Xpath

search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [53]:
#clicking using absolute xpath function

search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [ ]:
#finding the web element for the Salary filter 

search_job = driver.find_element(By.CLASS_NAME,"ellipsis fleft")  class="fleft naukicon naukicon-checkbox"
search_job.send_keys("Data Scientist")

In [58]:
#finding web element for the select Salary filter using absolute Xpath for 3-6 lakhs range

Salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/i')
Salary_filter.click()

In [59]:
#finding web element for the select Location filter using absolute Xpath for Delhi NCR region

locn_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[4]/label/i')
locn_filter.click()

In [60]:
#Lets extract all the elements having job titles

job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python',
 'Data Scientist',
 'Senior Data Scientist - Python (f/m/x)']

In [61]:
#Lets extract all the elements having location

location = []
locn_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in locn_tags:
    location.append(i.text)
location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi',
 'New Delhi']

In [62]:
#Lets extract all the elements having company names 

company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'RCPC',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH',
 'Razor Group GmbH']

In [64]:
#Lets extract all the elements having experience

experience = []
exp_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags:
    experience.append(i.text)
experience

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-3 Yrs',
 '5-10 Yrs']

In [65]:
jobs2 = pd.DataFrame()
jobs2['Job Title'] = job_titles
jobs2['Company'] = company_names
jobs2['Experience'] = experience
jobs2['Location'] = location

jobs2

,Job Title,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
5,Data Scientist,Meon Technologies,2-5 Yrs,Noida
6,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
7,Data Specialist,RCPC,4-6 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi
10,Senior Data Scientist - Python (f/m/x),Razor Group GmbH,5-10 Yrs,New Delhi

# Question - 4 Solved

# Scrape data of first 100 sunglasses listings on flipkart.com

In [66]:
#Opening up flipkart.com website on automated chrome window

url = 'https://www.flipkart.com/'
driver.get(url)

In [67]:
#finding the web element for the Search bar and enter sunglasses

search_prod = driver.find_element(By.CLASS_NAME,"_3704LK") class="L0Z3Pu"
search_prod.send_keys("Sunglasses")

In [68]:
#clicking using absolute xpath function to click the search button

search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [69]:
#Extracting the data from multiple pages for the elements needed

In [70]:
#To scrap data from multiple pages with brand name alone

brand_name  = []

start = 0

end = 3

for page in range(start,end):
    names = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in names:
        brand_name.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [77]:
len(brand_name)

120

In [73]:
#To scrap data from multiple pages with product description alone

prod_desc  = []

start = 0

end = 3

for page in range(start,end):
    desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        prod_desc.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [78]:
len(prod_desc)

120

In [80]:
#To scrap data from multiple pages with price alone

prod_price  = []

start = 0

end = 3

for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        prod_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [81]:
len(prod_price)

120

In [ ]:
#To scrap data from multiple pages with discount % alone

prod_discount  = []

start = 0

end = 3

for page in range(start,end):
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount:
        prod_discount.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [83]:
len(prod_discount)

120

# Question 5 - Solved

# Scrape 100 reviews data from flipkart.com for iphone11 phone

In [85]:
#Opening up flipkart.com website on automated chrome window

url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url)

In [86]:
#Extracting the data from multiple pages for the elements needed

In [89]:
#To scrap data from multiple pages with rating score alone

rating_score  = []

start = 0

end = 10

for page in range(start,end):
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        rating_score.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [90]:
len(rating_score)

100

In [93]:
#To scrap data from multiple pages with full review  alone

review_full  = []

start = 0

end = 10

for page in range(start,end):
    summary = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in summary:
        review_full.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [94]:
len(review_full)

100

In [95]:
#To scrap data from multiple pages with review summary alone

review_summary  = []

start = 0

end = 10

for page in range(start,end):
    headline = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in headline:
        review_summary.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [96]:
len(review_summary)

100

In [97]:
driver.close()

# Question 6 - Solved

## Scrape data for first 100 sneakers you find when you visit flipkart.com

In [2]:
#Lets import all the necessary libraries 

import selenium                                     #library that is used to work with Selenium
from selenium import webdriver                      # importing webdriver module from selenium to open automated chrome window
import pandas as pd                                 # To create a Database
from selenium.webdriver.common.by import By         # importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')                   # to ignore any sort of warning
import time                                         #used to stop search engine for a few secods

In [3]:
driver = webdriver.Chrome('chromedriver.exe') # Lets connect to the web driver

In [4]:
#Lets Maximize thw automated chrome window

driver.maximize_window()

In [5]:
#Opening up flipkart.com website on automated chrome window

url = 'https://www.flipkart.com/'
driver.get(url)

In [6]:
#finding the web element for the Search bar and enter Sneakers

search_prod = driver.find_element(By.CLASS_NAME,"_3704LK") 
search_prod.send_keys("Sneakers")

In [7]:
#clicking using absolute xpath function to click the search button

search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [9]:
#Extracting the data from multiple pages for the elements needed

In [10]:
#To scrap data from multiple pages with brand name alone

brand_name  = []

start = 0

end = 3

for page in range(start,end):
    names = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in names:
        brand_name.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [11]:
len(brand_name)

120

In [18]:
#To scrap data from multiple pages with product description alone

prod_desc  = []

start = 0

end = 4

for page in range(start,end):
    desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        prod_desc.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [19]:
len(prod_desc)

132

In [14]:
#To scrap data from multiple pages with price alone

prod_price  = []

start = 0

end = 3

for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        prod_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [15]:
len(prod_price)

120

In [16]:
#To scrap data from multiple pages with discount % alone

prod_discount  = []

start = 0

end = 3

for page in range(start,end):
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount:
        prod_discount.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [17]:
len(prod_discount)

120

# Question 7 - Solved

# scrape First 100 shoes data you get from Myntra

In [24]:
#Opening up myntra.com website on automated chrome window

url = 'https://www.myntra.com/shoes'
driver.get(url)

In [27]:
#finding web element for the select Price filter using absolute Xpath for Rs. 7198 to Rs. 14133 range

Price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
Price_filter.click()

In [28]:
#finding web element for the select Color filter using absolute Xpath for Black color

Color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
Color_filter.click()

In [33]:
#To scrap data from multiple pages with brand name alone from Myntra

brand_name  = []

start = 0

end = 2

for page in range(start,end):
    names = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in names:
        brand_name.append(i.text)
    next_button = driver.find_element(By.XPATH,'//li[@class="pagination-next"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [34]:
len(brand_name)

100

In [35]:
#To scrap data from multiple pages with product description alone from Myntra

prod_desc  = []

start = 0

end = 2

for page in range(start,end):
    desc = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in desc:
        prod_desc.append(i.text)
    next_button = driver.find_element(By.XPATH,'//li[@class="pagination-next"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [36]:
len(prod_desc)

100

In [38]:
#To scrap data from multiple pages with price alone from Myntra

prod_price  = []

start = 0

end = 2

for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price:
        prod_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//li[@class="pagination-next"]//span') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [39]:
len(prod_price)

100

# Question 8 - Solved

# scrape first 10 laptops data from Amazon

In [40]:
#Opening up amazon.com website on automated chrome window

url = 'https://www.amazon.in/'
driver.get(url)

In [45]:
#finding the web element for the Search bar and enter Laptops

search_prod = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input") 
search_prod.send_keys("Laptop")

In [47]:
#clicking using absolute xpath function to click the search button

search_btn =  driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()

In [48]:
#finding web element for the select CPU Processor filter using absolute Xpath for Intel Core i7

CPU_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[10]/span/a/div/label/i')
CPU_filter.click()

In [49]:
#Lets extract all the elements having Product titles

prod_titles = []
title_tags = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags:
    prod_titles.append(i.text)
len(prod_titles)

24

In [51]:
#Lets extract all the elements having ratings for laptops  

prod_rating = []
rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-light-weight-text s-link-centralized-style"]')
for i in rating:
    prod_rating.append(i.text)
len(prod_rating)

20

In [50]:
#Lets extract all the elements having price for laptops  

prod_prices = []
price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price:
    prod_prices.append(i.text)
len(prod_prices)

32

# Question 9 - Solved

# scrape data for Top 1000 Quotes of All Time

In [52]:
#Opening up azquotes.com website on automated chrome window

url = 'https://www.azquotes.com/'
driver.get(url)

In [53]:
#finding the web element for the Top Quotes button to go to the page 

quotes_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a") 
quotes_btn.click()

In [58]:
#To scrap data from multiple pages with Quotes alone

oly_quotes  = []

start = 0

end = 10

for page in range(start,end):
    quotes = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        oly_quotes.append(i.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [59]:
len(oly_quotes)

1000

In [61]:
#To scrap data from multiple pages with Author names alone

oly_author  = []

start = 0

end = 10

for page in range(start,end):
    author = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        oly_author.append(i.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [62]:
len(oly_author)

1000

In [63]:
#To scrap data from multiple pages withtypes of Quotes alone

oly_type  = []

start = 0

end = 10

for page in range(start,end):
    types = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        oly_type.append(i.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a') #to scrap data from the next page 
    next_button.click()
    time.sleep(3)

In [64]:
len(oly_type)

1000

# Question 10 - Solved

# display list of respected former Prime Ministers of India

In [66]:
#Opening up https://www.jagranjosh.com/ website on automated chrome window

url = 'https://www.jagranjosh.com/'
driver.get(url)

In [67]:
#finding the web element for the GK button to go to the page 

Gk_btn= driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a") 
Gk_btn.click()

In [68]:
#finding the web element for the List of all Prime Ministers of India button to go to the page 

PM_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a") 
PM_btn.click()

In [ ]:
#Scraping the table data from the website as we dont have individual classes in the page

In [91]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC # expected_conditions module contains a set of predefined conditions to use with WebDriverWait used for the visibility_of_element_located to be able to get the elements in the table as shown on website list  
import pandas as pd


data = WebDriverWait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, "//div[contains(@class, 'table-box')]//table"))).get_attribute("outerHTML")
df = pd.read_html(data)
df[0]
# So finally we see that by using the dataframe from pandas we read the data from html as it is storing the table data as list data and display as dataframe

,S.N.,Name,Born-Dead,Term of office,Remark
0,1.0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
1,2.0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
2,3.0,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,4.0,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
4,5.0,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
5,6.0,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,7.0,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
7,8.0,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
8,9.0,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
9,10.0,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
10,11.0,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
11,12.0,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from south India
12,13.0,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
13,14.0,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
14,15.0,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,16.0,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a full...
16,17.0,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,18.0,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question 11 - Solved

# display list of 50 Most expensive cars in the world

In [94]:
#Opening up https://www.motor1.com/ website on automated chrome window

url = 'https://www.motor1.com/'
driver.get(url)

In [95]:
#finding the web element for the MEnu button to go to the Lists

menu_btn= driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div[1]/div") 
menu_btn.click()

In [96]:
#finding the web element for the Lists option button to go to the page 

Lists_btn= driver.find_element(By.XPATH,"/html/body/div[3]/div[1]/div[3]/ul/li[4]/a") 
Lists_btn.click()

In [97]:
#finding the web element for the  50 most expensive cars in the world to go to the page 

Top_btn= driver.find_element(By.XPATH,"/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a") 
Top_btn.click()

In [237]:
#Lets extract all the elements having car titles

car_titles = []
title_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in title_tags:
    car_titles.append(i.text)
len(car_titles)

51

In [242]:
car2 = pd.DataFrame(car_titles)
blankIndex=[''] * len(car2)
car2.index=blankIndex

In [243]:
car2.reset_index() #Resetting the car index so we can easily make a dataframe

   index                                 0
0                                Drako GTE
1                            De Tomaso P72
2                        Ferrari LaFerrari
3                            Pagani Huayra
4                             McLaren Elva
5                              Czinger 21C
6                            Ferrari Monza
7                       Gordon Murray T.33
8                        Koenigsegg Gemera
9                              Zenvo TSR-S
10                      Hennessey Venom F5
11                         Bentley Bacalar
12           Hispano Suiza Carmen Boulogne
13                  Bentley Mulliner Batur
14                            Deus Vayanne
15                             SSC Tuatara
16                             Lotus Evija
17                     Aston Martin Vulcan
18                              Delage D12
19                       McLaren Speedtail
20                            Rimac Nevera
21                           Pagani Utopia
22                    Pininfarina Battista
23                       Ferrari FXX K Evo
24                      Gordon Murray T.50
25                    Lamborghini Countach
26                Mercedes-AMG Project One
27                     Aston Martin Victor
28             Hennessey Venom F5 Roadster
29                        Koenigsegg Jesko
30                   Aston Martin Valkyrie
31               W Motors Lykan Hypersport
32                           McLaren Solus
33               Pagani Huayra Roadster BC
34                Bugatti Chiron Pur Sport
35                        Lamborghini Sian
36                        Koenigsegg CC850
37         Bugatti Chiron Super Sport 300+
38                      Lamborghini Veneno
39                          Bugatti Bolide
40                         Bugatti Mistral
41                     Pagani Huayra Imola
42                            Bugatti Divo
43                     SP Automotive Chaos
44                        Pagani Codalunga
45                Mercedes-Maybach Exelero
46                      Bugatti Centodieci
47                    Rolls-Royce Sweptail
48                Bugatti La Voiture Noire
49                  Rolls-Royce Boat Tail*
50        Most Expensive Cars In The World

In [128]:
#Lets extract all the elements having CAr Prices

CAr_prices = []
price = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p',)
for i in price:
    CAr_prices.append(i.text)
len(CAr_prices)

103

In [209]:
df = pd .DataFrame(CAr_prices) # we see that the price and the description is in the same dataframe 
blankIndex=[''] * len(df)
df.index=blankIndex
df

                                                    0
    When it comes to high-end hypercars and super-...
    But in order to find out which of these unatta...
    We should note, though: The prices listed here...
                                  Price: $1.2 Million
    The Drako GTE is a super sedan in every sense ...
..                                                ...
    Rolls-Royce, expectedly, takes two of the top ...
                                 Price: $13.4 Million
    With a price tag of $13.4 million, the one-off...
                          Price: $28.0 Million (est.)
    Rolls-Royce is back in the business of coachbu...

[103 rows x 1 columns]

In [210]:
df1 = (df[0].str.contains('Price(?!$)')) # Using contains function to seperate the Prices and Description
Price_car = df[df1]

In [221]:
Price_car.reset_index() #Resetting the index

   index                            0
0                 Price: $1.2 Million
1                 Price: $1.3 Million
2                 Price: $1.4 Million
3                 Price: $1.4 Million
4                 Price: $1.7 Million
5                 Price: $1.7 Million
6                 Price: $1.7 Million
7                 Price: $1.7 Million
8                 Price: $1.7 Million
9                 Price: $1.7 Million
10                Price: $1.8 Million
11                Price: $1.9 Million
12                Price: $1.9 Million
13                Price: $2.0 Million
14                Price: $2.0 Million
15               Price: $2.0 Million*
16                Price: $2.1 Million
17                Price: $2.3 Million
18                Price: $2.3 Million
19                Price: $2.3 Million
20                Price: $2.4 Million
21                Price: $2.5 Million
22                Price: $2.5 Million
23                Price: $2.6 Million
24                Price: $2.6 Million
25                Price: $2.6 Million
26                Price: $2.7 Million
27                Price: $3.0 Million
28                Price: $3.0 Million
29                Price: $3.2 Million
30                Price: $3.4 Million
31                Price: $3.5 Million
32                Price: $3.6 Million
33                Price: $3.6 million
34                Price: $3.7 Million
35                Price: $3.9 Million
36                Price: $4.5 Million
37                Price: $4.7 Million
38                Price: $5.0 Million
39                Price: $5.4 Million
40                Price: $5.8 Million
41                Price: $6.4 Million
42                Price: $7.4 Million
43                Price: $8.0 Million
44                Price: $9.0 Million
45               Price: $12.8 Million
46               Price: $13.4 Million
47        Price: $28.0 Million (est.)

In [226]:
df2 = (~df[0].str.contains('Price(?!$)')) # Using contains function to seperate the Prices and Description
Desc_car = df[df2]

In [227]:
Desc_car.reset_index()

   index                                                  0
0         When it comes to high-end hypercars and super-...
1         But in order to find out which of these unatta...
2         We should note, though: The prices listed here...
3         The Drako GTE is a super sedan in every sense ...
4         The De Tomaso P72 is basically the definition ...
5         At $1.4 million new, the Ferrari LaFerrari is ...
6         Inarguably one of the prettiest cars on this l...
7         The McLaren Elva is one of the latest addition...
8         You might not know the name Czinger yet, but t...
9         Much like the roof-less McLaren Elva, the Ferr...
10        The second and slightly more affordable superc...
11        One of two Koenigsegg models on this list, the...
12        Hailing from Denmark, the Zenvo TSR-S debuted ...
13        The Hennessey Venom GT was a record-breaker, t...
14        With just 12 total units produced, the Bentley...
15        To call the Hispano Suiza Carmen Boulogne beau...
16        The electric onslaught is coming. Bentley says...
17        The Deus Vayanne may not be a household name (...
18        Although initially cloaked in controversy, SSC...
19        With a new Emira sports car and an Eletre elec...
20        As with a few other cars on this list, the Ast...
21        You may have heard of Delage before. In the ea...
22        What would you pay for the fastest production ...
23        The Rimac Nevera takes the title of most expen...
24        First came the Zonda, then the Huayra, and now...
25        Aptly named after the company’s founder, Batti...
26        Sure, you could buy a normal LaFerrari (which ...
27        If the name Gordon Murray sounds familiar, it’...
28        The name Countach may be iconic, but is it wor...
29        Mercedes has promised a production version of ...
30        The folks at Aston Martin know a thing or two ...
31                                             $3.0 Million
32        The same Hennessey Venom F5 hypercar we all kn...
33        The Koenigsegg Jesko, apart from being the fas...
34        The upcoming Aston Martin hybrid hypercar hasn...
35        Dubai-based W Motors shocked the world with it...
36                                             $3.5 Million
37        One seat, 829 horsepower, and a top speed of o...
38        Following Pagani’s past playbook, a roadster v...
39        Another showstopper from the Geneva Motor Show...
40        In several ways, the Sian represents a bridge ...
41        The Koenigsegg CC850 was a surprise to be sure...
42        Earlier this year, Bugatti captured the collec...
43        Lamborghini built just 14 examples of the Aven...
44        Produced in extremely limited numbers atop the...
45        The Bugatti Mistral sends the iconic W16 engin...
46        Even though the new Utopia marks the next big ...
47        Among Bugatti’s recently debuted vehicles, the...
48        SP Automotive (short for Spyros Panopoulos) is...
49        The long list of pricey (new) Paganis ends wit...
50        Like many others before it, the Mercedes-Benz ...
51        Bugatti debuted the Centodieci at last year’s ...
52        Rolls-Royce, expectedly, takes two of the top ...
53        With a price tag of $13.4 million, the one-off...
54        Rolls-Royce is back in the business of coachbu...

In [244]:
final_title = car2[:48]  #MAking sure the values of the column are equal to the price as we oly have 48 rows
len (final_title)

48

In [245]:
final_desc = Desc_car[:48]  #MAking sure the values of the column are equal to the price as we oly have 48 rows
len(final_desc)

48

In [246]:
#Creating the dataframe to display the data 

TOP_cars = pd.DataFrame()
TOP_cars['Car Title'] = final_title
TOP_cars['Price'] = Price_car
TOP_cars['Car Description'] = final_desc

In [247]:
TOP_cars

,Car Title,Price,Car Description
,Drako GTE,Price: $1.2 Million,When it comes to high-end hypercars and super-...
,De Tomaso P72,Price: $1.3 Million,But in order to find out which of these unatta...
,Ferrari LaFerrari,Price: $1.4 Million,"We should note, though: The prices listed here..."
,Pagani Huayra,Price: $1.4 Million,The Drako GTE is a super sedan in every sense ...
,McLaren Elva,Price: $1.7 Million,The De Tomaso P72 is basically the definition ...
,Czinger 21C,Price: $1.7 Million,"At $1.4 million new, the Ferrari LaFerrari is ..."
,Ferrari Monza,Price: $1.7 Million,Inarguably one of the prettiest cars on this l...
,Gordon Murray T.33,Price: $1.7 Million,The McLaren Elva is one of the latest addition...
,Koenigsegg Gemera,Price: $1.7 Million,"You might not know the name Czinger yet, but t..."
,Zenvo TSR-S,Price: $1.7 Million,"Much like the roof-less McLaren Elva, the Ferr..."
,Hennessey Venom F5,Price: $1.8 Million,The second and slightly more affordable superc...
,Bentley Bacalar,Price: $1.9 Million,"One of two Koenigsegg models on this list, the..."
,Hispano Suiza Carmen Boulogne,Price: $1.9 Million,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
,Bentley Mulliner Batur,Price: $2.0 Million,"The Hennessey Venom GT was a record-breaker, t..."
,Deus Vayanne,Price: $2.0 Million,"With just 12 total units produced, the Bentley..."
,SSC Tuatara,Price: $2.0 Million*,To call the Hispano Suiza Carmen Boulogne beau...
,Lotus Evija,Price: $2.1 Million,The electric onslaught is coming. Bentley says...
,Aston Martin Vulcan,Price: $2.3 Million,The Deus Vayanne may not be a household name (...
,Delage D12,Price: $2.3 Million,"Although initially cloaked in controversy, SSC..."
,McLaren Speedtail,Price: $2.3 Million,With a new Emira sports car and an Eletre elec...
,Rimac Nevera,Price: $2.4 Million,"As with a few other cars on this list, the Ast..."
,Pagani Utopia,Price: $2.5 Million,You may have heard of Delage before. In the ea...
,Pininfarina Battista,Price: $2.5 Million,What would you pay for the fastest production ...
,Ferrari FXX K Evo,Price: $2.6 Million,The Rimac Nevera takes the title of most expen...
,Gordon Murray T.50,Price: $2.6 Million,"First came the Zonda, then the Huayra, and now..."
,Lamborghini Countach,Price: $2.6 Million,"Aptly named after the company’s founder, Batti..."
,Mercedes-AMG Project One,Price: $2.7 Million,"Sure, you could buy a normal LaFerrari (which ..."
,Aston Martin Victor,Price: $3.0 Million,"If the name Gordon Murray sounds familiar, it’..."
,Hennessey Venom F5 Roadster,Price: $3.0 Million,"The name Countach may be iconic, but is it wor..."
,Koenigsegg Jesko,Price: $3.2 Million,Mercedes has promised a production version of ...
,Aston Martin Valkyrie,Price: $3.4 Million,The folks at Aston Martin know a thing or two ...
,W Motors Lykan Hypersport,Price: $3.5 Million,$3.0 Million
,McLaren Solus,Price: $3.6 Million,The same Hennessey Venom F5 hypercar we all kn...
,Pagani Huayra Roadster BC,Price: $3.6 million,"The Koenigsegg Jesko, apart from being the fas..."
,Bugatti Chiron Pur Sport,Price: $3.7 Million,The upcoming Aston Martin hybrid hypercar hasn...
,Lamborghini Sian,Price: $3.9 Million,Dubai-based W Motors shocked the world with it...
,Koenigsegg CC850,Price: $4.5 Million,$3.5 Million
,Bugatti Chiron Super Sport 300+,Price: $4.7 Million,"One seat, 829 horsepower, and a top speed of o..."
,Lamborghini Veneno,Price: $5.0 Million,"Following Pagani’s past playbook, a roadster v..."
,Bugatti Bolide,Price: $5.4 Million,Another showstopper from the Geneva Motor Show...
,Bugatti Mistral,Price: $5.8 Million,"In several ways, the Sian represents a bridge ..."
,Pagani Huayra Imola,Price: $6.4 Million,The Koenigsegg CC850 was a surprise to be sure...
,Bugatti Divo,Price: $7.4 Million,"Earlier this year, Bugatti captured the collec..."
,SP Automotive Chaos,Price: $8.0 Million,Lamborghini built just 14 examples of the Aven...
,Pagani Codalunga,Price: $9.0 Million,Produced in extremely limited numbers atop the...
,Mercedes-Maybach Exelero,Price: $12.8 Million,The Bugatti Mistral sends the iconic W16 engin...
,Bugatti Centodieci,Price: $13.4 Million,Even though the new Utopia marks the next big ...
,Rolls-Royce Sweptail,Price: $28.0 Million (est.),"Among Bugatti’s recently debuted vehicles, the..."

In [248]:
driver.close()